---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<ul>
  <li> <strong> Political Economy of Inequality (University of Cologne) </strong> </li>
  <li> Fall semester 2024 </li>
  <li> <a href="https://github.com/joshcova/PoliticalEconomyInequality" target="_blank">Slides</a> </li>
</ul>
  
  
<ul>
  <li> <strong> Statistics I: Descriptives, Inference and Regression (Hertie School) </strong> </li>
  <li> Prof. Mark A. Kayser (Hertie School) </li>
  <li> Fall semester 2021 & 2022 </li>
  <li> &#127942 Median student satisfaction score: 10/10 </li>  
</ul>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
