---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---


<strong> Political Economy of Inequality (University of Cologne) </strong> 
<ul>
  <li> Fall semester 2024 </li>
  <li> <a href="https://github.com/joshcova/PoliticalEconomyInequality" target="_blank">Slides</a> </li>
  <li> &#127942 Median student satisfaction score: 5/5 </li>  
</ul>
  
  
<strong> Statistics I: Descriptives, Inference and Regression (Hertie School) </strong> 
<ul>
  <li> Prof. Mark A. Kayser (Hertie School) </li>
  <li> Fall semester 2021 & 2022 </li>
  <li> &#127942 Median student satisfaction score: 10/10 </li>  
</ul>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
